.dockerignore
.DS_Store
.env
.git
.gitignore
.idea
.vs
.vscode
**/bin
**/deploy
**/log
**/logs
**/node_modules
**/obj
**/postman
**/temp
*docker-compose*
*Dockerfile*
docker-compose.*.yml
docker-compose.yml
nginx.conf
npm-debug.log