networks:
  lognetwork:
    driver: bridge

services:
  read:
    image: grafana/loki:latest
    container_name: loki-read
    hostname: read-loki.logs
    ports:
      - "3101:3100"
      - "7946"
      - "9095"
    volumes:
      - ./config/loki/loki-config.yml:/etc/loki/config-template.yml
      - ./config/loki/prepare-config.sh:/etc/loki/prepare-config.sh
    entrypoint: ["/bin/sh", "-c", "sh /etc/loki/prepare-config.sh && loki -config.file=/etc/loki/config.yml -target=read"]
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - minio
    restart: unless-stopped
    networks: &loki-dns
      lognetwork:
        aliases:
          - lognetwork

  write:
    image: grafana/loki:latest
    container_name: loki-write
    hostname: write-loki.logs
    ports:
      - "3102:3100"
      - "7946"
      - "9095"
    volumes:
      - ./config/loki/loki-config.yml:/etc/loki/config-template.yml
      - ./config/loki/prepare-config.sh:/etc/loki/prepare-config.sh
    entrypoint: ["/bin/sh", "-c", "sh /etc/loki/prepare-config.sh && loki -config.file=/etc/loki/config.yml -target=write"]
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - minio
    restart: unless-stopped
    networks:
      <<: *loki-dns

  backend:
    image: grafana/loki:latest
    container_name: loki-backend
    hostname: backend-loki.logs
    ports:
      - "3100"
      - "7946"
    volumes:
      - ./config/loki/loki-config.yml:/etc/loki/config-template.yml
      - ./config/loki/prepare-config.sh:/etc/loki/prepare-config.sh
    entrypoint: ["/bin/sh", "-c", "sh /etc/loki/prepare-config.sh && loki -config.file=/etc/loki/config.yml -target=backend -legacy-read-mode=false"]
    depends_on:
      - gateway
    restart: unless-stopped
    networks:
      - lognetwork

  alloy:
    image: grafana/alloy-dev:latest
    container_name: alloy
    hostname: alloy.logs
    ports:
      - "12345:12345"
    volumes:
      - ./config/alloy/alloy-local-config.yml:/etc/alloy/config.alloy:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command: run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    depends_on:
      - gateway
    restart: unless-stopped
    networks:
      - lognetwork

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    hostname: promtail.logs
    volumes:
      - /var/log:/var/log
      - ./config/promtail:/etc/promtail
    command: -config.file=/etc/promtail/promtail-config.yml
    depends_on:
      - gateway
    restart: unless-stopped
    networks:
      - lognetwork

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    hostname: prometheus.logs
    ports:
      - "9090:9090"
    volumes:
      - ./config/prometheus:/etc/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus-config.yml'
    restart: unless-stopped
    networks:
      - lognetwork

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    hostname: grafana.logs
    ports:
      - "3000:3000"
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_DEFAULT_INSTANCE_NAME=${GF_DEFAULT_INSTANCE_NAME}
      - GF_AUTH_ANONYMOUS_ORG_NAME=${GF_AUTH_ANONYMOUS_ORG_NAME}
      - GF_SERVER_DOMAIN=${GF_SERVER_DOMAIN}
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
      - GF_SECURITY_ADMIN_EMAIL=${GF_SECURITY_ADMIN_EMAIL}
      - GF_AUTH_GITHUB_CLIENT_ID=${GF_AUTH_GITHUB_CLIENT_ID}
      - GF_AUTH_GITHUB_CLIENT_SECRET=${GF_AUTH_GITHUB_CLIENT_SECRET}
      - GF_AUTH_GITHUB_ALLOWED_DOMAINS=${GF_AUTH_GITHUB_ALLOWED_DOMAINS}
      - GF_AUTH_GITHUB_ALLOWED_ORGANIZATIONS=${GF_AUTH_GITHUB_ALLOWED_ORGANIZATIONS}
      - GF_AUTH_GITHUB_ROLE_ATTRIBUTE_PATH=${GF_AUTH_GITHUB_ROLE_ATTRIBUTE_PATH}
      - GF_AUTH_GITHUB_SCOPES=${GF_AUTH_GITHUB_SCOPES}
      - GF_AUTH_GITHUB_ENABLED=${GF_AUTH_GITHUB_ENABLED}
    volumes:
    # - ./config/grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./config/grafana/grafana-datasources.yml:/etc/grafana/provisioning/datasources/ds.yml
      - ./config/grafana/wait-for-grafana.sh:/wait-for-it.sh:ro
      - ./config/grafana/update_grafana_default_org.sh:/update_org.sh:ro
    entrypoint: ["/bin/sh", "-c", "sh /wait-for-it.sh -- sh /update_org.sh & grafana-server"]
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3000/api/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - gateway
    restart: unless-stopped
    networks:
      - lognetwork

  minio:
    image: minio/minio:latest
    container_name: minio
    hostname: minio.logs
    ports:
      - "9010:9010"
      - "9011:9011"
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - MINIO_PROMETHEUS_AUTH_TYPE=public
      - MINIO_UPDATE=off
    volumes:
      - loki-minio-data:/data
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /data/loki-data && \
        mkdir -p /data/loki-ruler && \
        minio server --console-address :9011 /data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9010/minio/health/live" ]
      interval: 15s
      timeout: 20s
      retries: 5
    restart: unless-stopped
    networks:
      - lognetwork

  gateway:
    image: nginx:latest
    container_name: gateway
    hostname: gateway.logs
    ports:
      - "3100:3100"
    volumes:
      - ./config/nginx/nginx-config.conf:/etc/nginx/nginx.conf
    healthcheck:
      test: ["CMD", "service", "nginx", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - read
      - write
    restart: unless-stopped
    networks:
      - lognetwork

volumes:
  loki-minio-data:
    driver: local
    driver_opts:
      type: none
      device: ../data/minio
      o: bind
